@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 20 20 20;

    --card: 255 255 255;
    --card-foreground: 20 20 20;

    --popover: 255 255 255;
    --popover-foreground: 20 20 20;

    --primary: 34 197 94;
    --primary-foreground: 255 255 255;

    --secondary: 240 253 244;
    --secondary-foreground: 21 128 61;

    --muted: 241 245 249;
    --muted-foreground: 100 116 139;

    --accent: 240 253 244;
    --accent-foreground: 21 128 61;

    --destructive: 239 68 68;
    --destructive-foreground: 255 255 255;

    --border: 226 232 240;
    --input: 226 232 240;
    --ring: 34 197 94;

    --radius: 0.5rem;

    --chart-1: 12 76 176;
    --chart-2: 173 57 135;
    --chart-3: 197 197 197;
    --chart-4: 43 63 229;
    --chart-5: 250 189 0;
  }

  .dark {
    --background: 2 6 23;
    --foreground: 248 250 252;

    --card: 2 6 23;
    --card-foreground: 248 250 252;

    --popover: 2 6 23;
    --popover-foreground: 248 250 252;

    --primary: 34 197 94;
    --primary-foreground: 255 255 255;

    --secondary: 15 23 42;
    --secondary-foreground: 248 250 252;

    --muted: 15 23 42;
    --muted-foreground: 148 163 184;

    --accent: 15 23 42;
    --accent-foreground: 248 250 252;

    --destructive: 127 29 29;
    --destructive-foreground: 248 250 252;

    --border: 30 41 59;
    --input: 30 41 59;
    --ring: 34 197 94;

    --chart-1: 220 163 220;
    --chart-2: 160 106 160;
    --chart-3: 30 63 100;
    --chart-4: 113 65 165;
    --chart-5: 255 215 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}